
<ion-header color="#fffff">
  <ion-toolbar color="#fffff">
    <ion-buttons routerLink="/home" slot="start">
      <ion-button >
        <ion-icon style="color: #ffff;" name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: #ffff;" >FinApp</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="conteudo" style="background-color: #23222c;" color="#23222c">
  <ion-content *ngFor="let c of names | slice:names.length-1" class="conteudo" color="#23222c" padding>

    <h3 class="titulo" >Olá, {{c.name}}.</h3>  

    <ion-button href="/acoes" class="btn1" size="large" color="#23222c">
      Day Trade 
    </ion-button>
   
    <ion-button href="/blog" class="btn1" size="large" color="#23222c" >
      Blog 
    </ion-button >
   
    <ion-button   href="/quiz-perfil-investimento" class="btn1" size="large" color="#23222c" >
      Quiz
    </ion-button >
  
    <ion-button href="/resultado-{{c.perfil}}" class="btn1" size="large" color="#23222c">
      Último Resultado 
    </ion-button >
    
    <!-- <h6>Conheça o FinApp:</h6> -->
    <ion-button  href="/help" class="help" size="large" color="#23222c">
      Conheça o FinApp
    </ion-button >
    
  </ion-content>
</ion-content>