<ion-header>
  <ion-toolbar>
    <ion-title>HomePage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img src="https://images.pexels.com/photos/187041/pexels-photo-187041.jpeg?cs=srgb&dl=pexels-burak-k-187041.jpg&fm=jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Finanças</ion-card-subtitle>
      <ion-card-title>Ações</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      Informações sobre ações da bolsa de valores brasileira.
    </ion-card-content>

  </ion-card>

</ion-content>
