
ion-content{

  // --ion-background-color:#1b2c60;
}

.button {
  
      // display: flex;
      // justify-content: center;
      // align-content: center;
      // align-items: center;
}

.titulo{
  display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 50%;
    margin-bottom: 10%;
    color: black;
    font-weight: bold;
  
}

.subtitulo{
  display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    
}

.info{
  margin-left: 3%;
  margin-right: 3%;
}

.label{
  display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 0em;
    color: black;
}

.conteudo{
  display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 0em;
    height: 100%;
    
}


