
ion-content{

  --ion-background-color:#23222c;
}

.button {
  
      // display: flex;
      // justify-content: center;
      // align-content: center;
      // align-items: center;
      
      color:#23222c;
      margin-top: 2em;
}

.titulo{
  display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 50%;
    margin-bottom: 10%;
    color:#c8ad7f;
    font-weight: bold;
  
}

.subtitulo{
  display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #c8ad7f;
    
}

.info{
  margin-left: 3%;
  margin-right: 3%;
}

.label{
  display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 0em;
    color:#c8ad7f;
    
}

.conteudo{
  display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 0em;
    height: 100%;
    
}


