.tv-show-image {
    max-height: 10rem;
    width: 100%;
    object-fit: cover;
}
h2{
    font-weight: bolder;

}
ion-toolbar{
    background-color: black;
  }

.menu-button{
    position:relative;
    margin-top:10%;
}
div {
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-align: justify;
    text-justify: inter-word;
}
