<ion-header >
  <ion-toolbar color='dark'>
    <ion-buttons routerLink="/home" slot="start">
      <ion-button>
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>FinApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-text class="description">
    <h2>Perfil de investimento</h2>
    <h5>Saiba qual é o seu perfil de investimento e invista de forma inteligente.</h5>
  </ion-text>
</ion-item>
<ion-content>
  <ion-card *ngIf="!showResult">
    <ion-card-header>
      <ion-card-title>{{questions[currentQuestion].text}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group [(ngModel)]="questions[currentQuestion].checkedAlternative">
          <ion-item *ngFor="let alternative of questions[currentQuestion].alternatives; let i = index">
            <ion-radio slot="start" [value]="i"></ion-radio>
            <ion-label>{{alternative}}</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-button color="dark" (click)="next()" expand="block" [disabled]="questions[currentQuestion].checkedAlternative == null">
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
        Próxima pergunta
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showResult" color="secundary">
    <img [src]="possibleResults[mostAnswered].image" class="tv-show-image">
    <ion-card-content>
      <h2  style="padding-bottom: 4%;">
        Parabéns! Identificamos você como um investidor
        {{possibleResults[mostAnswered].letter}}
      </h2>
      <h3 >
        E isso é ótimo!
        {{possibleResults[mostAnswered].investmentType}}
      </h3>
      <h3 style="font-weight: bolder; padding-top: 3%;">Clique em Saiba Mais e conheça as melhores opções de investimento para o seu perfil!</h3>
       <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-button houterLink="/results" color="dark" expand="block" class="ion-margin-top">
                <ion-icon slot="start"></ion-icon>
              Saiba mais!
              </ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button (click)="confirmReset()" color="dark" expand="block" class="ion-margin-top">
                <ion-icon slot="start" name="refresh"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>