.tv-show-image {
    max-height: 10rem;
    width: 100%;
    object-fit: cover;
}
h2{
    font-weight: bolder;

}

.menu-button{
    position:relative;
    margin-top:10%;
}
div {
    margin-left: auto;
    margin-right: auto;
}

