<ion-content class="card">

  <ion-card>

    <ion-img src="https://images.pexels.com/photos/187041/pexels-photo-187041.jpeg?cs=srgb&dl=pexels-burak-k-187041.jpg&fm=jpg"></ion-img>

    <ion-card-header>
      <ion-card-title>Finanças</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-label>Obtenha informações sobre ações da bolsa de valores brasileira para alavancar sua carteira de investimentos.</ion-label>
      </ion-row>
      <ion-row>
        <ion-label>Navegue pela barra inferior e veja a lista completa de ações ou utilize nossa ferramenta de pesquisa para verificar informações de uma determinada ação.</ion-label>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
