<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="nomeAcao" type="string" placeholder="Informe a ação. Exemplo: GOAU3"></ion-input>

    <ion-button slot="end" (click)="pesquisa_acao()" [disabled]="nomeAcao == ''" color="dark">
      <ion-icon name="search-outline" slot="icon-only"></ion-icon>
    </ion-button>

  </ion-item>

  <div *ngIf="controll">
    <ion-card [color]="resultadoPesquisa.regularMarketChangePercent >= 0 ? 'light' : 'medium'">

      <ion-card-header>
        <ion-card-title>{{resultadoPesquisa.longName}}</ion-card-title>
        <ion-card-subtitle>{{resultadoPesquisa.symbol}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="ion-text-center">
                <ion-label>Variação</ion-label>
                <p>{{resultadoPesquisa.regularMarketChangePercent | number}}%</p>
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-center">
                <ion-label>Valor Abertura</ion-label>
                <p>{{resultadoPesquisa.regularMarketOpen}}</p>
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-center">
                <ion-label>Valor Final</ion-label>
                <p>{{resultadoPesquisa.regularMarketPrice}}</p>
              </div>
            </ion-col>
          </ion-row>

          <label>Informações Gerais</label>

          <ion-item [color]="resultadoPesquisa.regularMarketChangePercent >= 0 ? 'light' : 'medium'">
            <div>
              <label *ngIf="endereco.address1 != null">Endereço: {{ endereco.address1 }}</label>
              <label *ngIf="endereco.address1 == null">Endereço: Dado não informado.</label>
            </div>
          </ion-item>

          <ion-item [color]="resultadoPesquisa.regularMarketChangePercent >= 0 ? 'light' : 'medium'">
            <div>
              <label *ngIf="endereco.city != null">Cidade: {{ endereco.city }} </label>
              <label *ngIf="endereco.city == null">Cidade: Dado não informado. </label>
            </div>
          </ion-item>

          <ion-item [color]="resultadoPesquisa.regularMarketChangePercent >= 0 ? 'light' : 'medium'">
            <div>
              <label *ngIf="endereco.phone != null">Telefone: {{ endereco.phone }} </label>
              <label *ngIf="endereco.phone == null">Telefone: Dado não informado. </label>
            </div>
          </ion-item>
          
          <ion-item [color]="resultadoPesquisa.regularMarketChangePercent >= 0 ? 'light' : 'medium'">
            <div>
              <label *ngIf="endereco.state != null">Estado: {{ endereco.state }}</label>
              <label *ngIf="endereco.state == null">Estado: Dado não informado.</label>
            </div>
          </ion-item>

          <ion-item [color]="resultadoPesquisa.regularMarketChangePercent >= 0 ? 'light' : 'medium'">
            <div>
              <label *ngIf="endereco.website != null">Site: <a href="{{endereco.website}}">{{endereco.website}}</a></label>
              <label *ngIf="endereco.website == null">Site: Dado não informado.</label>
            </div>
          </ion-item>

        </ion-grid>
      </ion-card-content>

    </ion-card>
  </div>

  <div *ngIf="resultadoPesquisa == 'Ação não encontrada'">
    <div class="ion-text-center">
      <h1>Ação não encontrada.</h1>
    </div>
  </div>
  
</ion-content>