<ion-header color="#fffff">
  <ion-toolbar color="#fffff">
    <ion-buttons routerLink="/menu" slot="start">
      <ion-button >
        <ion-icon style="color: #ffff;" name="home" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: #ffff;" >FinApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item style="background-color: #23222c;" >
  <h2 style="font-weight: bold;">Blog de Finanças</h2>
</ion-item>

<ion-item>
  <ion-icon slot="start" name="search" class="ion-margin-start"></ion-icon>
  <ion-input placeholder="Pesquisar" ></ion-input>
</ion-item>

<ion-content >

  <ion-card (click) = "showModal()" *ngFor="let i of [1,2,3,4]" color= "dark" >
    <img [src]="'https://picsum.photos/id/'+(50 + i)+'/340/150'">
    <ion-card-header >
      <ion-card-subtitle style="color: white ">Bolsa de valores</ion-card-subtitle>
      <ion-card-title style="color: white ">Como investir</ion-card-title>
    </ion-card-header>
  
    <ion-card-content  >
      <p>Será que investir na Bolsa de Valores é mesmo tão caro e difícil quanto você pensa?</p>
    </ion-card-content>
  </ion-card>

  
  