<ion-content>

  <ion-segment>

    <ion-segment-button value="varicao" (click)="organizeAcoes(1)">
      <label>
        Variação
        <ion-icon name="chevron-down-circle-outline"></ion-icon>
      </label>
    </ion-segment-button>

    <ion-segment-button value="abertura" (click)="organizeAcoes(2)">
      <label>
        Abertura
        <ion-icon name="chevron-down-circle-outline"></ion-icon>
      </label>
    </ion-segment-button>

    <ion-segment-button value="fechamento" (click)="organizeAcoes(3)">
      <label>
        Fechamento
        <ion-icon name="chevron-down-circle-outline"></ion-icon>
      </label>
    </ion-segment-button>

  </ion-segment>

  <!-- <ion-item>
    <ion-label></ion-label>
    <ion-input type="string" placeholder="Pesquisa Título"></ion-input>
  </ion-item> -->

  <ion-list>
    <ion-card *ngFor="let acao of acoes" [color]="acao.variacao_dia_perc >= 0 ? 'light' : 'medium'">

      <ion-card-header>
        <ion-card-title>{{acao.nome_empresa}}</ion-card-title>
        <ion-card-subtitle>{{acao.acao}}</ion-card-subtitle>
      </ion-card-header>


      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="ion-text-center">
                <ion-label>Variação</ion-label>
                <p>{{acao.variacao_dia_perc * 100 | number}}%</p>
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-center">
                <ion-label>Valor Abertura</ion-label>
                <p>{{acao.valor_abertura}}</p>
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-center">
                <ion-label>Valor Final</ion-label>
                <p>{{acao.valor_final}}</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

    </ion-card>
  </ion-list>

</ion-content>