<ion-header >

  <ion-toolbar color='dark'>

    <ion-buttons (click)="close()" slot="start">

      <ion-button>

        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>

      </ion-button>

    </ion-buttons>

    <ion-title>FinApp</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content (click) = "close()">
  
  <ion-card>
    <img src="https://blog.rico.com.vc/hs-fs/hubfs/renda-variavel-introducao.jpg?width=699&name=renda-variavel-introducao.jpg">
    <ion-card-header>
      <ion-card-title>O que significa investir a curto, médio e longo prazo? </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Muito tem se falado sobre a renda variável em 2019.

A queda na taxa de juros impacta negativamente na rentabilidade dos ativos de renda fixa, o investimento mais escolhido por iniciantes. 

De fato, a renda variável ainda é pouco explorada, principalmente para quem está começando.

Afinal, para quem nunca se aventurou na renda variável, é normal sentir medo antes de começar a investir em ações, por exemplo.

Se você faz parte desse grupo, saiba que não está sozinho.

No Brasil, menos de 1% da população investe nesta categoria de ativos, e muitos estão deixando boas oportunidades passarem. 

No entanto, tenha em mente que investir na renda variável pode trazer rendimentos bastante atrativos ao seu capital. 

Segundo o site Infomoney, é possível que a Bolsa ultrapasse 100 mil pontos em 2019. Ou seja, o mercado está em seu melhor momento histórico.

Essa é a hora para você começar a investir.

Se você deseja aproveitar estas oportunidades, com a possibilidade de lucrar com proventos, é preciso entender como o mercado funciona e quais são as melhores estratégias para começar. 
    </ion-card-content>
  </ion-card>
  
</ion-content>
