<ion-header >

  <ion-toolbar color='dark'>

    <ion-buttons (click)="close()" slot="start">

      <ion-button>

        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>

      </ion-button>

    </ion-buttons>

    <ion-title>FinApp</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content (click) = "close()">
  
  <ion-card>
    <img src="https://blog.rico.com.vc/hs-fs/hubfs/renda-variavel-o-que-e.jpg?width=670&name=renda-variavel-o-que-e.jpg">
    <ion-card-header>
      <ion-card-title>O que significa investir a curto, médio e longo prazo?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      A queda na taxa de juros impacta negativamente na rentabilidade dos ativos de renda fixa, o investimento mais escolhido por iniciantes. <br>
Afinal, para quem nunca se aventurou na renda variável, é normal sentir medo antes de começar a investir em ações, por exemplo. <br>
No Brasil, menos de 1% da população investe nesta categoria de ativos, e muitos estão deixando boas oportunidades passarem. <br>
No entanto, tenha em mente que investir na renda variável pode trazer rendimentos bastante atrativos ao seu capital. <br>
Se você deseja aproveitar estas oportunidades, com a possibilidade de lucrar com proventos, é preciso entender como o mercado funciona e quais são as melhores estratégias para começar. <br>
Diante disso, preparamos um guia completo com tudo o que você deve saber para investir em renda variável com segurança e rentabilidade a partir de agora.<br> 
    </ion-card-content>
  </ion-card>
  
</ion-content>
